@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .bg-brown {
        background-color: #4F372F;
    }

    .bg-gray-cart {
        background-color: #F8F9FA;
    }

    .custom-shadow {
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.14);
    }

    .logo {
        width: 5rem;
    }

    .alert {
        top: 20%;
        right: 10px;
        max-width: 16rem;
    }

    .alert-message {
        max-width: 15rem;
    }

    .hover-link {
        @apply text-amber-500;
        text-shadow: 0 0 5px rgba(248, 190, 42, 0.8);
    }

    .active-link {
        @apply text-amber-500;
        text-shadow: 0 0 5px rgba(248, 190, 42, 0.8);
    }
}

body {
    @apply bg-gray-200;
    position: relative;
    min-height: 100vh;
}

.modal-card {
    overflow-y: scroll;
}

.modal-card::-webkit-scrollbar {
    width: .95rem;
}

.modal-card::-webkit-scrollbar-thumb {
    @apply bg-brown;
    border: 3px solid white;
    border-radius: 20px;
}

.modal-card::-webkit-scrollbar-track {
    @apply bg-white;
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: lexend, sans-serif
    }

    p,
    a {
        font-family: lexend, Verdana;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body::-webkit-scrollbar {
        width: .95rem;
    }

    body::-webkit-scrollbar-track {
        @apply bg-white;
    }

    body::-webkit-scrollbar-thumb {
        @apply bg-brown;
        border: 3px solid white;
        border-radius: 20px;
    }
}